/* .main_nav li:nth-child(4) {
    height: 50px;
    background-color: #F0ECE4;
    box-shadow: 1px 1px 10px 1px #b2afa9;
} */
/* ///////////////////////// */
.content {
    margin-top: 30% ;
}
.dine_types {
    display: inline-block;
    position: relative;
    left: -20%;
    padding-bottom: 3%;
        /* //////////// */
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: opacity, transform;
    /* /////////////// */
}
.dine_types.visible {
    opacity: 1;
    transform: translateY(0);
}
.dine_types::before {
    content: "";
    position: absolute;
    width: 20vw;
    height: 1px;
    border-bottom: 1px solid#fff;
    bottom: 0;
    right: 0;
}
.dine_title {
    font-size: clamp(14px, 2vw, 25px);
    border-top: 1px solid#000;
    padding: 10% 0 5% 0;
    letter-spacing: .1em;
    
}

.dine_time {
    font-size: clamp(10px, 1.5vw, 16px);
    letter-spacing: .1em;
}
.dine {
    position: relative;
}
.dine_pic img {
    width:12vw;
    /* ////////////// */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: opacity, transform;
  /* ///////////// */
}
.dine_pic img.visible {
    opacity: 1;
    transform: translateY(0);
}


.dine_pic img:nth-of-type(2) {
    margin: 0 1vw;
}
.dine_pic_up {
    position: relative;
    padding: 0 0 5% 0;
    border-bottom: 1px solid #fff;
    display: flex;
    width: 100%;
    margin-left: 20%;
    left: 0;
}
.dine_pic_up::after {
    height: 1px;
    width: 3vw;
    content: "";
    position: absolute;
    border-bottom:1px solid#fff;
    bottom: 0;
    transform: rotate(50deg);
    right: 0;
}
.dine_pic_bottom {
    display: flex;
    justify-content: flex-end;
    margin: 5% 0 15% 0;
}
.dine_pic_up img {
    border-radius:0 25px 0 0;
}
.dine_pic_bottom img {
    border-radius:25px 0 0 0;
}
/* /////////////////// */
@media (max-width: 767px){
    .dine_pic_up::after, .dine_types::before{
        display: none;
    }
    .dine_types {
        left: 0;
        display: block;
    }
    .dine_pic_up {
        width: 80%;
        border-bottom:none;
        margin-left: 0;
    }
    .dine_title {
        text-align: center;
        font-size: 20px;
    }
    .dine_time {
        text-align: center;
        font-size: 16px;
    }
    .dine_pic img {
        width: 35vw;
    }
    .dine_pic img:nth-child(3) {
        display: none;
    }
    .dine_pic img:nth-child(1) {
        margin-right: 10px;
    }
}
