body {
    background-image: url(./pic/LOGO\ &\ Background/background.png);
    position: relative;
    font-family: 'font-family', serif;
    
}
/* @font-face {
    font-family: 'font-family';
    src: url(./font/Arvo.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
    font-family: 'Arvo-Bold';
    src: url(./font/Arvo-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0000-024F;
} */
@font-face {
    font-family: 'font-family';
    src: url(./font/Adamina-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0041-005A, U+0061-007A, U+0000-U+007F;
}
@font-face {
    font-family: 'font-family';
    src: url(./font/NotoSerifTC-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4E00-9FFF, U+3000-303F, U+0030-0039, U+FF00-U+FFEF;
}
@font-face {
    font-family: 'tc-semibold';
    src: url(./font/NotoSerifTC-SemiBold.woff2) format('woff2');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
    unicode-range: U+4E00-9FFF;
}
/* 中英字體、背景底色、字間距 */


.banner {
    width: 100%;
    height: auto;
}
.banner_left {
    background-image: url(./pic/LOGO\ &\ Background/2banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 45vw;
    background-position: center center;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_left img {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    width: 50%;
    height: auto;
    display: block;
}
/* .nav_container {
    max-width: 75%;
    margin: auto; 
} */
.container_nav {
    max-width: 75%;
    margin: auto; 
    position: relative;
    flex-direction: column;
}
.container {
    width: 62.5%;
    margin: auto;
    position: relative;
    flex-direction: column;
}
.main_nav {
    background-color: rgba(182, 157, 129);
}
.main_nav ul{
    display: flex;
    /* justify-content: flex-end; */
    font-size: clamp(15px, 1.5vw, 28px);        
    /* background-color: rgba(182, 157, 129); */
    width: 20vw;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.main_nav li {
    padding: 5px 8px;
    display: flex;
    height: 30px;
    align-items: end;
    justify-content: center;
    border-radius: 0px 0px 15px 15px;
    width: 15%;
    transition: .5s;
    letter-spacing: .05em;
}
/* .main_nav li:nth-child(1) {
    height: 50px;
    background-color: #F0ECE4;
    box-shadow: 1px 1px 10px 1px #b2afa9;
} */
.main_nav li:nth-child(-n+3) {
    margin: 0 10px 0 0;
}
/* .main_nav li:hover{
    height: 50px;
    background-color: #F0ECE4;
    box-shadow: 1px 1px 10px 1px #b2afa9;
} */
.main_nav a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 3.5ex 1em 0 1em;
}
.banner_right {
    position: absolute;
    right: 4%;
    width: 30%;
    box-sizing: border-box;
    padding: 10% 0 0 0;
    top: 10vh;
}
.banner_right img {
    width: 100%;
    height: auto;
}
.banner_right p {
    font-size: clamp(14px,1.25vw, 25px);
    letter-spacing: .1em;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.5em 0 0 0;
}
.reserve_input input {
    background-color: #695043;
    color: #fff;
    writing-mode: vertical-rl;
    position: fixed;
    height: clamp(90px,10vw,120px);
    width: clamp(30px,1.5px,35px);
    bottom: 50px;
    right: 0;
    letter-spacing: 5px;
    font-size:clamp(14px,1.35vw, 20px);
    border-radius: 20px 0 0 20px;
    border: 0px;
    box-shadow: 0 0 2px 2px #322721;
    font-family:'Noto Serif TC';
    z-index: 3;
    cursor: pointer;
}

/* ////////////////////////////////// */
.reserve_bg{
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 2;
    display: none;
}
.reserve_area {
    background-image: url(./pic/LOGO\ &\ Background/reserve_background.png);
    position: absolute;
    right: 0;
    width: 40%;
    height: 100vh;
    border-radius: 30px 0 0 30px;
    opacity: 0;
}
.reserve_area.show {
    animation: slideInRight 0.6s ease-out forwards;
}

/* 離開動畫 */
.reserve_area.hide {
    animation: slideOutRight 0.6s ease-in forwards;
}
.reserve_title {
    letter-spacing: .3em;
    font-size: 35px;
    border-bottom: 1px solid #000;
    padding: 0 0 .5em 0;
    text-align: center;
    margin: 8% 0;
}
.reserve_info {
    font-size:18px ;
    margin: 15% auto;
    width: 65%;
    letter-spacing: .2em;
}
.check_room {
    font-size: 18px;
    background-color: #B69D81;
    display: flex;
    justify-content: center;
    align-items: center;     
    letter-spacing: .1em;
    color: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px #94806a;
    height: 40px;
}
.check_room a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    text-align: center;
}
#dateRange {
    width: 100%;
    height: 40px;
    border:none;
    appearance: none;
    outline: none;
    border-radius: 5px ;
    box-shadow: 0 1px 5px 1px #aaa;
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    font-size: 18px;
    letter-spacing: .1em;
    font-family: 'Noto Serif TC';
}
#type_count ,#dateRange{
    cursor: pointer;
}
.type_count_total {
    display: block;
}

#type_count {
    width: 100%;
    font-size: 18px;
    height: 40px;
    padding: 0 20px;
    margin: 10px 0 0 0;
    font-family: 'Noto Serif TC';
    letter-spacing: .1em;
    box-shadow: 0 1px 5px 1px #aaa;
    border: none;
    border-radius: 5px ;
    outline: none;
    appearance: none;
}
#room_count:focus {
    background-color: none;
    outline: none;
}
.adult_count_area {
    margin: 10% 0 0 0;
}
.room_count_area {
    margin: 10% 0 20% 0;
}
/* /////////////////////// */

/* //////////////yard/////////////// */
.yard_area {
    margin-top: 105vh;
    letter-spacing: .1em;
    line-height: 1.5em;
}
.card_text p {
    display: inline-block;
    font-size: clamp(12px, 1.2vw, 16px);
    text-wrap: nowrap;
    flex-grow: 1;
    padding-top: 5%;
}
.section_button {
    display: flex;
    justify-content: flex-end;
    /* position: relative; */
}
.section_button a {
    position: relative;
    font-size: clamp(10px, 1vw, 14px);
    text-decoration: none; 
    color: inherit;
}
.more_button {
    cursor: pointer;
}
.card_pic img{
    width: 10vw;
    vertical-align: bottom;
}
.card_pic {
    margin-top: 5%;
}
.card_bpic {
    width: 40%;
    margin-top: auto;

}
.card {
    display: flex;
    /* justify-content: space-between; */
    gap: 5%;
}
.card_text {
    display: flex;
    flex-direction: column;
}
.section-title {
    font-size: 3vw;
    position: relative;
    letter-spacing: .3em;
    margin-bottom: 10%;
    left: -20%;
    padding-bottom: 3%;
    text-shadow:1px 3px 5px #878787;
}
.section-title::after {
    content: "";
    position: absolute;
    bottom:0;
    left: -20%;
    width: 50%;
    height: 1px;
    border-bottom: 1px solid#fff;
}

.section_button a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    border-bottom: 1px solid #000;
    transition: .5s ease;
}
.section_button a:hover::after {
    width: 100%;
}
/* //////////////////////stay/////////////// */
.stay_area {
    margin:15% 0 0 0;
    letter-spacing: .1em;
    line-height: 1.5em;
}
/* /////////////dine/////////////////// */
.dine_area {
    margin:15% 0 0 0;
    letter-spacing: .1em;
    line-height: 1.5em;
    position: relative;
}
.dine_title {
    font-size: 3vw;
    position: relative;
    letter-spacing: .3em;
    margin-bottom: 10%;
    left: -20%;
    padding-bottom: 3%;
    text-shadow:1px 3px 5px #878787;
}
.dine_card {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.dine_card_pic img {
    width: 10vw;
}
.dine_card_pic img[src*="Dine-2.jpg"] {
    width: 15vw;
    margin: 0 1vw 6vw  1vw;
}
.dine_menu {
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 236, 228, 0.3);
    padding: 2% 2% 1% 2%;

    position:absolute;
    right: -15%;
    height: 100%;
    box-sizing: border-box;
    font-size: clamp(10px, 1.2vw, 16px);
}
.dine_menu::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    top: 0;
    border-right: 1px solid#fff;
    left: -10%;
}
.dine_card_pic_s {
    display: inline-block;
    margin-right: 4vw;
}
.dine_card_pic_s img[src*="Dine-3.jpg"] {
    display: block;
    margin-bottom: 20%;
    margin-left: 30%;
}
.dine_card_pic img[src*="Dine-5.jpg"] {
    margin-bottom: 6vw;
}
.dine_menu p {
    flex-grow: 1;
    line-height: 3em;
}
/* //////////topics/////////// */

.topics_area {
    margin: 15% 0 0 0;
    background-color: rgba(240, 236, 228, 0.3);
    padding: 3% 0;
    width: 100%;
    letter-spacing: .1em;
    line-height: 1.5em;
}
.topics-title {
    font-size: 3vw;
    position: relative;
    letter-spacing: .3em;
    margin-bottom: 5%;
    left: -20%;
    text-shadow:1px 3px 5px #878787;
}
.news {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(182, 157, 129, 0.4);
    margin-left: 10%;
    padding: 1%;
    border-left: 1px solid#fff;
}
.news_2, .news_4 {
    border-bottom: 1px solid#fff;
    padding-bottom: 10px;
}
.news_1, .news_3 {
    position: relative;
    padding-bottom: 10px;
}
.news_1::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    border-bottom: 1px solid#fff;
    left: -10%;
    bottom: 0;
}
.news_3::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    border-bottom: 1px solid#fff;
    left: -10%;
    bottom: 0;
}
.news_time {
    font-size: 14px;
    color: #515151;
}
.news_title {
    font-weight: normal;
    font-family: "tc-semibold";
}
.news_p {
    font-size: 14px;
}

/* ///////////////////////////////////// */
.directions_area {
    position: relative;
    margin: 8% 0 0 0;
    line-height: 25px;
    letter-spacing: .1em;
    font-size: 14px;
}
.directions_title{
    font-size: 3.125vw;
    letter-spacing: .2em;
    position: relative;
    text-shadow: 0 3px 5px  rgba(0, 0, 0, 0.2);    
    margin: 0 0 8% 0;
}
.directions_info {
    margin: 0 0 0 15%;
}
.by_title {
    font-weight: normal;
    font-family: "tc-semibold";
    font-size: 16px;
    margin: 0 0 1% -12%;
}
.by_train {
    margin: 5% 0;
}
.notice_enp {
    letter-spacing: .05em;
    margin: .3em 0 0 0;
    color: #515151;
}
.reserve_car {
    margin: 0 0 1% 0;
}

/* /////////////////////////////////// */
.footer {
    background-color:  rgb(100, 80, 69,0.6);
    padding: 1% 0;
    margin: 5% 0 0 0;
    width: 160%;
    position: relative;
    left: -30%;
    color: #fff;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: .1em;
}
.footer_topline{
    position: absolute;
    right: 0;
    margin: 3vw 5vw 0 0;
    font-size: 10px;
}
#backToTop {
    border: none;
    background: none;
    color:#FFF;
    cursor: pointer;
}
.footer_topline::after {
    content: "";
    width: 1px;
    height: 400px;
    border-left: 1px solid#ffffff;
    position: absolute;
    bottom: 100%;
    left: 50%;
}
.check_area {
    text-align: center;
    padding: 2% 0;
    width: 60%;
    margin:auto ;
}
.check_area_detail {
    position: relative;
    padding-bottom: 20px;
}
.check_area_detail::after {
    content: "";
    border-bottom: 1px solid #fff;
    height: 1px;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.footer_logo_img{
    position: absolute;
    width: 12vw;
    margin: 0 0 0 3vw;
    top: 50%;
    transform: translateY(-50%);
}
.footer_logo p {
    font-size: .6vw;
    margin: 0 0 0 3vw;
}
.address {
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center; 
    margin: 10px 0 0 0;
}
.address_zh {
    margin: 0 2em;
}
.icon {
    display: flex;
    justify-content: space-between;
}
.icon img {
    width: 7vw;
    bottom: 0;
    margin: 0 0 0 2vw;
}
.follow_icon {
    margin: 0 5vw 0 0;
}

/* =========================== */
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}
/* /////////RWD////////////// */

/* 小於 768px：手機 */
@media (max-width: 767px) {
  /* 手機版樣式 */
    .container {
        width: 85%;
    }
    .banner_right {
        opacity: 0;
    }
    .banner_left {
        height: 100vh;
        width: 100%;
        
    }
    .reserve_input input {
        bottom: 5%;
        writing-mode:horizontal-tb;
        height: 30px;
        line-height: 20px;
        width:60vw;
        border-radius: 15px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.817); ;
        color: #000;
        box-shadow: none;
        font-size: 20px;
    }
    /* ==========================*/
    .yard_area {
        margin-top: 100vh;
        position: relative;
        
    }
    .section_button a:hover::after {
        display: none;
    }
    .section-title {
        display: inline-block;
        position: relative; 
        font-size: 30px;
        text-shadow: none;
        left:10px;
        top:150px;
        margin: 10px;
        font-weight: normal;
    }
    .topics-title, .dine_title{
        font-size: 30px;
        text-shadow: none;
        left: 0;
        margin: 10px 10px 20px 10px;
        font-weight: normal;
    }
    .section-title::after {
        display: none;
    }
    .section_button a {
        border-bottom: 1px solid #000;
        font-size: 14px;
        margin-top: 10px;
    }
    .card {
        display: flex;
        flex-direction: column;
    }
    .card_text {
        order:2;
        flex-grow: 1;
        margin-top: 20%;
    }

    .card_pic img:nth-child(-n+3) {
        display: none;
    }
    .card_pic {
        position: relative;
    }
    .card_pic img:nth-child(4) {
        position:absolute;
        right: 0;
        top:0;
    }
    .card_bpic {
        margin-left: auto;
        width: 50vw;
    }
    .card_text p {
        font-size: 14px;
        letter-spacing: .1em;
        line-height: 3em;
        padding: 0;
        text-wrap: wrap;
    }
    .dine_menu {
        display: none;
    }
    .footer {
        width: 100%;
        left: 0;
    }
    .footer_topline::after {
        display: none;
    }
    .dine_card_pic {
        display: flex;
        gap: 15px;justify-content: space-between;
    }
    .dine_card_pic img {
        /* width: 10vw; */
        margin: auto;
    }
    .dine_card_pic img[src*="Dine-2.jpg"]  {
        margin: auto 0;
        width: 10vw;
        
    }
    .dine_card_pic_s img[src*="Dine-3.jpg"] {
        margin:auto;
    }
    .dine_card_pic_s {
        display: flex;
        margin: 0;
        gap: 15px;
    }
    .dine_card_pic img[src*="Dine-5.jpg"] {
        margin: 0;
    }
    .dine_card {
        justify-content: space-around;
    }
    .footer_logo_img {
        display: none;
    }
    .address {
        display: block;
    }
    .footer_topline {
        margin: 0;
    }
}

/* 768px ~ 1024px：平板 */
@media (min-width: 768px) and (max-width: 1024px) {
  /* 平板版樣式 */
}

/* 大於 1024px：桌機 */
@media (min-width: 1025px) {
  /* 桌機版樣式 */
}