/* .main_nav li:nth-child(2) {
    height: 50px;
    background-color: #F0ECE4;
    box-shadow: 1px 1px 10px 1px #b2afa9;
} */
/* .banner {
    width: 100%;
    height: auto;
}
.banner_left {
    position: absolute;
    margin: 8% 0 0 0;
}
.banner_left img {
    width: 32vw;
}
.banner_left img:nth-child(1) {
    position: absolute;
    width: 8vw;
    top: -20%;
    left: 0;
    margin: 0 0 0 1vw;
}


.page_title {
    position: absolute;
    writing-mode: vertical-rl;
    color: #fff;
    font-size: clamp(30px,7vw, 80px);
    left: 32vw;
    top: 25%;
    letter-spacing: 2vw;
    text-shadow: 1px 1px 5px #aaa;
}
.decor_line img{
    width: 30vw;
    display: flex;
    justify-self: flex-end;
    position: relative;
    right: -15%;
    margin: 5% 0 0 0;
}


.banner_s {
    position: absolute;
    right: 5vw;
    top: 50%;
}
.banner_s_text {
    font-size:clamp(8px,1.2vw, 16px);
    letter-spacing: .3em;
    line-height: 1.5em;
    position: relative;
    margin: 0 0 5% 0;
}
.banner_s img:nth-of-type(2) {
    margin: 0 .5vw;
}
.banner_s img:nth-child(n) {
    width: 10vw;
} */
/* //////////////////////////// */
.decor_line::after {
    content: "";
    height: 1px;
    width: 130%;
    border-bottom: 1px solid#fff;
    position: absolute;
    top: 255%;
    right: 0;
}
.decor_line::before {
    content: "";
    height: 1px;
    width: 5%;
    border-bottom: 1px solid#fff;
    position: absolute;
    top: 255%;
    left: 0;
    transform: rotate(130deg);
}
/* ///////////////////// */
.content {
    position: relative;
    margin: 30% 0 0 0;
}
.content img:nth-child(1) {
    width: 22vw;
    box-shadow: 0 3px 10px 3px #00000031;
    z-index: 1;
    position: relative;
}
.content img:nth-child(2) {
    width: 15vw;
    margin: 0 4vw 13% 2vw;
}
.content img:nth-child(3) {
    position: absolute;
    width: 15vw;
    right: 32%;
    top: 10%;
}
.content img:nth-child(4) {
    width: 13vw;
    margin: 0 0 13% 0;
}

.content_text {
    position: absolute;
    top: 80%;
    right: 0;
    width: 100%;
}
.content p {
    position: absolute;
    font-size: clamp(8px,1vw, 16px);
    letter-spacing: .3em;
    line-height: 1.5em;
    right: 0;
    bottom: 3%;
    z-index: 1;
}
/* /////////////////////////// */
.content::before {
    content: "";
    height: 12%;
    width: 100%;
    background-color: rgba(240, 236, 228, 0.3);
    position: absolute;
    bottom: 7%;
}
.content::after {
    content: "";
    height: 12%;
    width: 60%;
    background-color: rgba(182, 157, 129, 0.5);
    position: absolute;
    bottom: 0;
    right: -10%;
}
/* ///////////////////////////// */
.content_last {
    position: relative;
    margin: 0 0 15% 0;
}
.content_last img:nth-child(1) {
    position: relative;
    width: 25vw;
    margin: 30% 2vw 0 0;
    z-index: 1;
    box-shadow: 0 3px 10px 3px #00000031;
}
.content_last img:nth-child(3) {
    margin: 0 .5vw;
    width: 10vw;
}
.content_last img:nth-child(2) {
    margin:  0 0 10% 0;
    width: 10vw;
}
.content_last img:nth-child(4) {
    margin:  0 0 10% 0;
    width: 10vw;
}
.content_last_text {
    position: relative;
}
.content_last p {
    position: absolute;
    font-size: clamp(6px,1vw, 16px);
    letter-spacing: .3em;
    line-height: 1.5em;
    right: -10%;
    top: 41%;
    z-index: 1;
}
.content_last::before {
    content: "";
    height: 8%;
    width: 90%;
    background-color: rgba(240, 236, 228, 0.3);
    position: absolute;
    top: 40%;
}
.content_last::after {
    content: "";
    height: 8%;
    width: 60%;
    background-color: rgba(182, 157, 129, 0.5);
    position: absolute;
    top: 44%;
    right: -10%;
}
/* /////////////////////// */
@media (max-width: 767px) {
    .content_last p {
        right: 0;
    }
    .content::after, .content_last::after{
        display: none;
    }
    .content img:nth-child(3) {
        position: relative;
    }
}